/*one css for everything*/
body {
  margin: 0;
  background-color:  rgba(225, 225, 225, 1) ;   
  padding: 0px 40px 80px 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: "16px";
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 15px; 
  color: blueviolet; 
   
}
h2{
  margin-top: 30px;
  font-size: 50px;
  margin-bottom: 0px;

}

h4 {
  margin-bottom: 1px;

}
p{
  margin-top: 1px;
  margin-bottom: 4px;
}


/* -- FOOTER STYLING -- */
.footer {
  background-color: #a2d3f0;
  color: white;
}
#contact {
  margin: 0;
  color: black;
  font-size: 14px;
  vertical-align: middle; 
  padding: 9px 12px;
}
#media {
  padding: 4px 14px;
  text-align: center;
}
.footer a{
  margin: 0px 4px; 
}

/* home page styling */
a.card{
  color: inherit;
  
  
}
a.card:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* social media links */
.fa{
  float: right; 
  padding: 8px;
  font-size: 12px;
  width: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: white;
}
.fa:hover {
  opacity: 0.7;
}


/* -- VIDEO STYLING -- */
.video{
  display: block;
  margin: 0 auto;

}
.image1{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px
  
}
/* Playlist styling */
.playlist{
  height:300px;
  width:500px;
  margin-left: auto;
  margin-right: auto;
  overflow:auto;
  background-color:white;
  color:black;
  scrollbar-base-color:gold;
  padding:10px;
}



















